body {
  font-family: Nunito;
  background-color: #ffe97f;
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

#loader {

  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  display: none;
}
.likes {

  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  width: 120px;
  height: 120px;
  display: none;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}




@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}
@media (min-width: 500px) {
  .errorMessage {
    display: flex;
    color: red;
    font-weight: bold;
    justify-content: center;
  }

  .postTitle {
    font-size: 150%;
    font-weight: bold;
  }

  .postMessage {
    font-weight: normal;
  }

  .delete {
    height: 100%;
    font-size: 75%;
    align-self: center;
    margin: 0.5rem 0;
    border-radius: 0.5rem;
    border: solid 1px black;
    color: white;
    font-weight: bold;
    background-color: #dc7575;
  }

  .userName {
    align-self: center;
    margin: 0.5rem 0;
    padding: 0.5rem 0.5rem;
    border-radius: 0.5rem;
    border: solid 1px black;
    color: white;
    font-weight: bold;
    background-color: #7f6a00;
  }

  .userDiv {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .condel {
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
    border-radius: 2rem;
    width: 100%;
  }

  .title {
    display: flex;
    font-family: Nunito;
    justify-content: center;
    font-weight: bold;
    font-size: 500%;
    margin-top: 1rem;
  }

  .postDiv {
    border: solid 2.5px black;
    border-radius: 0.5rem;
    margin: 1rem 0;
    padding: 1rem 1rem;
    width: 30rem;
    overflow-wrap: break-word;
  }

  .posting-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 75vh;
  }

  .postForm {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-item: center;
  }

  .posting-input {
    display: flex;
    font-family: Nunito;
    justify-content: center;
    font-weight: bold;
    margin: 0.5rem 0;
  }

  #postingContent {
    display: flex;
    padding: 1rem 1rem;
    text-align: center;
  }

  .postingButton {
    align-self: center;
    margin: 0.5rem 0;
    border-radius: 0.5rem;
    border: solid 1px black;
    width: 50%;
    color: white;
    font-weight: bold;
    font-family: Nunito;
    background-color: #7f6a00;
  }

  .subTitle {
    display: flex;
    font-family: Nunito;
    justify-content: center;
    font-weight: bold;
    font-size: 250%;
    margin-top: 1rem;
  }

  .titles2 {
    display: flex;
    font-family: Nunito;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
  }

  .login-form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 75vh;
  }

  .login-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-self: center;
  }

  .login-form-input {
    margin: 0.5rem 0;
    display: flex;
  }

  .login-form-button {
    align-self: center;
    margin: 0.5rem 0;
    border-radius: 0.5rem;
    border: solid 1px black;
    width: 50%;
    color: white;
    font-weight: bold;
    font-family: Nunito;
    background-color: #7f6a00;
  }

  .connect {
    position: absolute;
    text-align: center;
    font-weight: bold;
    font-family: Nunito;
    color: white;
    top: 2%;
    right: 2%;
  }

  .connect2 {
    position: absolute;
    text-align: center;
    font-weight: bold;
    font-family: Nunito;
    color: white;
    top: 2%;
    left: 2%;
  }

  .login {
    display: block;
    color: white;
    padding: 0.5rem 1.5rem;
    border: solid 1px black;
    background-color: #7f6a00;
    font-weight: bold;
  }

  .login a {
    text-decoration: none;
    color: white;
  }

  .home {
    display: block;
    color: white;
    padding: 0.5rem 1.5rem;
    border: solid 1px black;
    background-color: #7f6a00;
  }

  .home a {
    text-decoration: none;
    color: white;
  }

  .sign-up {
    margin-top: 0.5rem;
    color: #0094ff;
  }

  .sign-up a {
    text-decoration: none;
    color: #0094ff;
  }

  input[placeholder] {
    text-align: center;
    font-family: Nunito;
  }
}
