body {
  font-family: Nunito;
  background-color: #ffe97f;
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (min-width: 500px) {
  .errorMessage {
    display: flex;
    color: red;
    font-weight: bold;
    justify-content: center;
  }

  .postTitle {
    font-size: 150%;
    font-weight: bold;
  }

  .postMessage {
    font-weight: normal;
  }

  .userName {
    align-self: center;
    margin: 0.5rem 0;
    padding: 0.5rem 0.5rem;
    border-radius: 0.5rem;
    border: solid 1px black;
    color: white;
    font-weight: bold;
    background-color: #7f6a00;
  }


  .userDiv {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .condel {
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
    border-radius: 2rem;
    width: 100%;
  }
  .title {
    display: flex;
    font-family: Nunito;
    justify-content: center;
    font-weight: bold;
    font-size: 500%;
    margin-top: 1rem;
  }

  .postDiv {
    border: solid 2.5px black;
    border-radius: 0.5rem;
    margin: 1rem 0;
    padding: 1rem 1rem;
    width: 30rem;
    overflow-wrap: break-word;
  }

  .posting-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 75vh;
  }

  .postForm {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-item: center;
  }

  .posting-input {
    display: flex;
    font-family: Nunito;
    justify-content: center;
    font-weight: bold;
    margin: 0.5rem 0;
  }

  #postingContent {
    display: flex;
    padding: 1rem 1rem;
    text-align: center;
  }

  .postingButton {
    align-self: center;
    margin: 0.5rem 0;
    border-radius: 0.5rem;
    border: solid 1px black;
    width: 50%;
    color: white;
    font-weight: bold;
    font-family: Nunito;
    background-color: #7f6a00;
  }

  .subTitle {
    display: flex;
    font-family: Nunito;
    justify-content: center;
    font-weight: bold;
    font-size: 250%;
    margin-top: 1rem;
  }

  .titles2 {
    display: flex;
    font-family: Nunito;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
  }

  .login-form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 75vh;
  }

  .login-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-self: center;
  }

  .login-form-input {
    margin: 0.5rem 0;
    display: flex;
  }

  .login-form-button {
    align-self: center;
    margin: 0.5rem 0;
    border-radius: 0.5rem;
    border: solid 1px black;
    width: 50%;
    color: white;
    font-weight: bold;
    font-family: Nunito;
    background-color: #7f6a00;
  }

  .connect {
    position: absolute;
    text-align: center;
    font-weight: bold;
    font-family: Nunito;
    color: white;
    top: 2%;
    right: 2%;
  }

  .connect2 {
    position: absolute;
    text-align: center;
    font-weight: bold;
    font-family: Nunito;
    color: white;
    top: 2%;
    left: 2%;
  }

  .login {
    display: block;
    color: white;
    padding: 0.5rem 1.5rem;
    border: solid 1px black;
    background-color: #7f6a00;
    font-weight: bold;
  }

  .login a {
    text-decoration: none;
    color: white;
  }

  .home {
    display: block;
    color: white;
    padding: 0.5rem 1.5rem;
    border: solid 1px black;
    background-color: #7f6a00;
  }

  .home a {
    text-decoration: none;
    color: white;
  }

  .sign-up {
    margin-top: 0.5rem;
    color: #0094ff;
  }

  .sign-up a {
    text-decoration: none;
    color: #0094ff;
  }

  input[placeholder] {
    text-align: center;
    font-family: Nunito;
  }
}
